@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.array-bar {
  display: inline-block;
  background-color: turquoise;
  margin: 0 4px;
  width: 2px;
}

.array-container {
  position: absolute;
  bottom: 0%;
  left: 20%;
}

.button {
  font-family: "Lato";
  font-size: medium;
  background: steelblue;
  width: 200px;
  height: 80px;
  margin: 0 20px;
  transition-duration: 0.4s;
  border-radius: 12px;
  top: 10%;
}

.background {
  background-color: whitesmoke;
}
